*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(3, 3, 26);
    display: flex;
    place-items: center;
    min-height: 100vh;
}
main{
    margin: auto;
    display: grid;
    grid-template-areas: 
    'a a a a b b'
    'a a a a b b'
    'c c c d d d'
    'c c c e e e';
    gap: 10px;
    border-radius: 10px;
    width: 50%;
}
main div{
    padding: 2em;
}
.red{
    grid-area: a;
    height: 100px;
}
.yellow{
    grid-area: b;
    height: 100px;
}
.green{
    grid-area: c;
    height: 100px;
}
.blue1{
    grid-area: d;
    
}
.blue2{
    grid-area: e;
}
a:link{
    text-decoration: none;}
a{color: white;}